<div class="col-md-12">

	<h1>Hikayeni yaz</h1>

	<div ng-show="birOnceki">
		<h4>bir önceki</h4>
		<div>{{ birOnceki }}</div>
	</div>

	<div ng-hide="birOnceki">
		<h4>hikayeye siz başlıyorsunuz.</h4>
	</div>
	
	<div class="row">
		<textarea class="col-md-12" ng-model="hikaye"></textarea>
	</div>
	
	<div class="class">
		<span>kalan: {{limit - hikaye().length}}</span>
	</div>
	
	<button ng-click="kaydet">sar</button>
	<button ng-click="yapistir">yapistir</button>
</div>

<div id="carsaf"></div>